.main {
  min-height: 100vh;
  box-sizing: border-box;
}

.main__trigger {
  position: absolute;
}

.main__trigger--top-left {
  top: 32px;
  left: 32px;
}

.main__trigger--top-right {
  top: 32px;
  right: 32px;
}

.main__trigger--center {
  top: 50%;
  left: 50%;
}

.main__trigger--bottom-right {
  right: 32px;
  bottom: 32px;
}

.main__trigger--bottom-left {
  bottom: 32px;
  left: 32px;
}